@import './base.css';

#app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

a,
.purple {
  text-decoration: none;
  color: #8D86C9;
  transition: 0.4s;
  border-radius: 5px;
}

a,
.gray {
  text-decoration: none;
  color: #CAC4CE;
  transition: 0.4s;
  border-radius: 5px; 
}

@media (hover: hover) {
  a:hover {
    background-color: #8d86c937;
  }
}
