@import './base.css';

#app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px 64px calc(100vh - 192px) 64px;
  grid-template-columns: 64px calc(100vw - 128px) 64px;
}

a,
.purple {
  text-decoration: none;
  color: var(--color-background-bis);
  transition: 0.4s;
  border-radius: 5px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-text-hover);
  }
}
