@import './base.css';

#app {
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: #8D86C9;
  transition: 0.4s;
  border-radius: 5px;
}

a,
.gray {
  text-decoration: none;
  color: #CAC4CE;
  transition: 0.4s;
  border-radius: 5px; 
}

@media (hover: hover) {
  a:hover {
    background-color: #8d86c937;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
